<div class="container">
  <div class="parent">

    <div class="card child c-card">
      <div class="card-body">
        <div class="row lr">
          <div class="col-6 lt">
            <div class="img">
              <img src="../../../assets/dummy.png" class="card-img-top" alt="...">
            </div>
          </div>
          <div class="col-6 lt">

            <div class="head">
              qwerty
            </div>

              <form>
                <div class="mb-3 row">
                  <div class="col">
                    <input type="text" class="form-control" id="staticEmail" placeholder="Enter your user name">
                    <!-- <small class="text-danger" *ngIf="(loginForm.controls['userName'].touched || loginForm.controls['userName'].dirty) && (loginForm.controls['userName'].errors)">Please enter a username</small> -->
                  </div>
                </div>
                <div class="mb-3 row">
                  <div class="col">
                    <input type="password" class="form-control" placeholder="Enter your password" id="inputPassword">
                    <!-- <small class="text-danger" *ngIf="(loginForm.controls['password'].touched || loginForm.controls['password'].dirty) && (loginForm.controls['password'].errors)">Please enter a password</small> -->
                  </div>
                </div>

                <div class="mb-3 rx">
                  <p><a href="add-admin">Create an admin</a></p>
                </div>

                <div class="mb-3 row bt">
                  <div class="col">
                    <button type="submit" class="btn btn-primary">Log In</button>
                    <button class="btn btn-primary">Signup</button>
                  </div>
                </div>


              </form>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
